<div class="container">
  <h1>Find the best tailor for you</h1>
  <div class="row">
    <div class="col-md-6">
      <% @tailors.each do |tailor| %>
      <div class="card-product">

        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><strong><%= tailor.shop_name %></strong></h2>
          <p><%= tailor.id %></p>
          <p><%= truncate(tailor.description, length:50) %></p>
          <p><%= tailor.rating %></p>
          <p> <%= tailor.review %></p>
          <%= link_to 'more', tailor %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

