<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="show_page">
      </div>
      <div class="image_box">
          <% @tailor.photos.each do |photo| %>
          <ul>
            <li>
              <%= cl_image_tag photo.key %>
            </li>
          </ul>
          <% end %>
      </div>
      <div class="tailor-desc">
        <h3>Description</h3>
        <p><%= @tailor.description %></p>
      </div>
      <div class="tailor-toc">
        <h2><strong>Terms and conditions</strong></h2>
        <p>Gingerbread ice cream jelly tiramisu chocolate tootsie roll jelly. Ice cream sesame snaps lollipop halvah sweet roll gummies oat cake dragée pie. Brownie apple pie chupa chups pie pie tiramisu. Chocolate cake gummies pie jujubes sweet roll cupcake danish. Pudding bonbon sesame snaps macaroon sweet. Fruitcake tootsie roll chocolate cake toffee bear claw candy. Sweet tart biscuit tart.
        </p>
        <ol>
          <li>Cash on delivery</li>
          <li>Express Service</li>
          <li>Contact us for more details</li>
        </ol>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card-tailor_contact_card">
        <div class="card-tailor_info">
          <h2><%= @tailor.shop_name %> </h2>
          <h4><%= @tailor.address %> </h4>
          <a class="btn btn-primary" href="#">Contact us </a>
        </div>
        <p>We specialize in the following</p>
        <ul>
          <li>Mens Clothing</li>
          <li>Womens Clothing</li>
          <p> Rating <%= '⭐️' * @tailor.rating %></p>
          <h4><strong>Reviews</strong></h4>
        </ul>
        <div class="card-reviewer">
          <%= image_tag "Behance1.jpg" %>
          <p><strong>Benjie</strong>, Accra. Rating <%= @tailor.rating %></p>
        </div>
          <%= link_to 'Edit', edit_tailor_path, class:"btn btn-primary"  %>
          <%= link_to "Delete", tailor_path, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger"  %>
          <%= link_to 'Back', :back, class:"btn btn-link" %>
      </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="rating">
    <%= '⭐️' * @tailor.rating %> <strong>Reviews</strong>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rating_category">
        <p>Category</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rating_category">
        <p>Category</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="rating">
        <%= '⭐️' * @tailor.rating %> <strong>Reviews</strong>
    <div class="col-md-4">
      <div class="rating_category">
        <p>Category</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rating_category">
        <p>Category</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>
  <div class="row mb-8 justify-content-left">
    <div class="col-md-10 mb-4 mt-4">
      <div class="card-reviews">
        <%= image_tag 'avator-male-md.png' %>
        <div class="card-reviewer-name">
          <p><Strong>Lorena Abena</Strong></p>
          <p>20/12/2010</p>
        <div class="card-reviewer-info">
          <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit,
            Ut . Excepteur sint ocent, sunt in culpa qui offic... <strong>Read more ....</strong></p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Read all reviews', '#', class:"btn btn btn-primary mt-8" %>
  <h2><%= @tailor.comments.count %> Comments</h2>
  <%= render @tailor.comments %>
  <h3> write a comment:</h3>
  <%= render 'comments/form'%>
</section>


